@mixin border($border){
border: $border;
}
@function background($color) {
  @if($color == white ) {
    @return  black;
  }@else{
    @return white;
  }

}
.text{
  background-color: red;
  color: background(red);
  font-size: 20px;
}
.textarea{
@extend .text;
}
.h1{
  @extend .text;
}
.btn{
  @include border(3px solid yellow);
}
$langages: "HTML5","CSS3","JAVA","React";
@function first($tab){
  @return nth($tab,1);
}
@function last($tab){
  @return nth($tab,length($tab));
}
@function table($tab){
  @for $i from 1 through length($tab) {
    @if($i == 1) {
      @return nth($tab,$i);
    }@else if($i == length($tab)){
      @return nth($tab,$i);
    }
  }
}
.testClass{
  content: first($langages);
}
